.rowData_container {
  display: grid;
  grid-template-columns: 110px auto 200px 200px 200px 200px;
  height: 60px;
  color: var(--text-color-white);
}
.rowData_container div {
  border-bottom: 1px solid var(--color-border);
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}
.rowData_level_container {
  position: relative;
}
.rowData_first_level_icon_container,
.rowData_second_level_icon_container,
.rowData_third_level_icon_container {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
}

.rowData_first_level_icon_container {
  background-image: var(--images-folder-main);
  left: 12px;
}

.rowData_first_level_line,
.rowData_second_level_line,
.rowData_second_level_sub_line,
.rowData_third_level_line,
.rowData_third_level_main_line {
  position: absolute;
  z-index: 1;
  background-color: var(--background-lines);
  width: 1px;
  bottom: 28.5px;
}
.rowData_first_level_line {
  bottom: -1px;
  height: 25px;
  left: 23px;
}
.rowData_second_level_line {
  height: 31px;
  left: 23px;
}
.rowData_second_level_sub_line {
  bottom: 0;
  height: 60px;
  left: 23px;
}
.rowData_third_level_line {
  height: 55px;
  left: 43px;
}
.rowData_third_level_main_line {
  height: 60px;
  left: 23px;
}
.rowData_second_level_icon_container {
  background-image: var(--images-folder-sub);
  left: 32px;
}
.rowData_third_level_icon_container {
  background-image: var(--images-file);
  left: 52px;
}
.rowData_third_level_line_handle {
  content: '';
  position: absolute;
  width: 13px;
  height: 1px;
  background-color: var(--background-lines);
  left: 43px;
  bottom: 28px;
}

.rowData_third_level_line_main_handle {
  content: '';
  position: absolute;
  width: 33px;
  height: 1px;
  background-color: var(--background-lines);
  left: 23px;
  bottom: 28px;
}

.rowData_second_level_icon_container:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: var(--background-lines);
  left: -8px;
}
