.first_level_icon_container,
.second_level_icon_container,
.third_level_icon_container {
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 2;
  cursor: default;
}

.first_level_line,
.second_level_line,
.second_level_sub_line,
.third_level_line,
.third_level_main_line {
  position: absolute;
  z-index: 1;
  background-color: var(--background-lines);
  width: 1px;
  bottom: 28.5px;
}

.first_level_line {
  bottom: -1px;
  height: 25px;
  left: 23px;
}

.second_level_line {
  height: 31px;
  left: 23px;
}

.second_level_sub_line {
  bottom: 0;
  height: 60px;
  left: 23px;
}

.third_level_line {
  height: 60px;
  left: 43px;
}

.third_level_main_line {
  height: 60px;
  left: 23px;
}

.third_level_line_handle,
.third_level_line_main_handle {
  content: '';
  position: absolute;
  width: 13px;
  height: 1px;
  background-color: var(--background-lines);
  left: 43px;
  bottom: 28px;
}

.third_level_line_main_handle {
  width: 33px;
  left: 23px;
}

.second_level_icon_container:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: var(--background-lines);
  left: -8px;
}

.first_level_icon_container {
  background-image: var(--images-folder-main);
  left: 12px;
}

.second_level_icon_container {
  background-image: var(--images-folder-sub);
  left: 32px;
}

.third_level_icon_container {
  background-image: var(--images-file);
  left: 52px;
}
.additional_container,
.additional_second_container {
  gap: 1px;
  position: absolute;
  left: 10px;
  background-color: var(--color-border);
  height: 28px !important;
  width: auto !important;
  padding: 2px !important;
  border-radius: 6px;
  display: flex;
  opacity: 0;
  z-index: 3;
  transition: opacity 0.1s ease-out;
}

.additional_second_container {
  left: 30px;
}
.additional_container:hover,
.additional_second_container:hover {
  opacity: 1;
}

.first_level_additional,
.second_level_additional,
.third_level_additional {
  width: 24px;
  height: 24px;
  z-index: 2;
}
.first_level_additional:hover,
.second_level_additional:hover,
.third_level_additional:hover {
  background-color: rgba(120, 120, 120, 0.8);
  border-radius: 6px;
}

.first_level_additional {
  background-image: var(--images-folder-main);
}
.second_level_additional {
  background-image: var(--images-folder-sub);
}
.third_level_additional {
  background-image: var(--images-file);
}
